[user]
	name = Karol Janowski
	email = karoljanowski@yahoo.com
[init]
	defaultBranch = main
[credential]
    helper = osxkeychain
[color]
	ui = auto
[core]
  editor = vim
	autocrlf = input
	excludesFile = ~/.global_gitignore
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
