[user]
	name = Karol Janowski
	email = karoljanowski@yahoo.com
[init]
	defaultBranch = main  
[color]
	ui = auto
[credential] 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
  editor = nvim
	autocrlf = input
	excludesFile = ~/.global_gitignore
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
